<div class="container-fluid">
    <h2 class="text-center" id="add">Add Qoute</h2><br>
     <div class="form-group">

<div>
<label for="Quate" id="quate" >QUATE</label><br>
<input type="text" required><br>
</div>
<div>
<label for="Quate" name>Auther Name</label><br>
<input type="text" required ><br>
</div>

<div>
<label by>Submitted by</label><br>
<input type="text" required ><br>
</div>

<div>
    <label by>Date it was created</label><br>
    <input type="date" required><br>
 </div>
    
<div>
<button type="submit" class="btn btn-primary" id="submit">Add Quote</button><br>
</div>



 